{% extends 'core/base.html' %}
{% block title %}Create leads{% endblock %}

{% block content %}
<div class="flex flex-col items-center space-y-4">
    <h1 class="text-4xl font-semibold text-gray-800">Create New Client</h1>

    {% if team.plan.max_clients > team.clients.all|length %}
        <form method="POST" action="" class="w-full max-w-lg p-4 bg-white rounded-lg shadow-md">
            {% csrf_token %}

            <div class="space-y-4">
                {{ form.as_p }}
            </div>

            <button type="submit" class="py-3 px-6 bg-teal-500 text-white rounded-xl w-full mt-4">Submit</button>
        </form>
    {% else %}
        <p class="text-center text-red-600">You have reached the limits</p>
        <a href="{% url 'leads_list' %}" class="text-teal-500 underline">Back to clients</a>
    {% endif %}
</div>
{% endblock %}
