{% extends 'core/base.html' %}

{% block title %}Clients{% endblock %}

{% block content %}
<div class="py-8 px-8">
    <!-- Page Title -->
    <h1 class="mb-6 text-3xl font-semibold text-gray-800">Clients</h1>

    <!-- Buttons -->
    <div class="mb-6 space-x-4">
        <a href="{% url 'add_client' %}" class="inline-block text-white py-3 px-6 bg-teal-600 rounded-xl shadow-md hover:bg-teal-500 transition duration-300">Create Client</a>
        <a href="{% url 'client_report' %}" class="inline-block text-white py-3 px-6 bg-teal-400 rounded-xl shadow-md hover:bg-teal-300 transition duration-300">Export</a>
    </div>

    <!-- Client List Table -->
    <div class="overflow-hidden rounded-lg shadow-md bg-white">
        <div class="flex items-center justify-between py-4 px-6 bg-teal-500 text-white font-semibold">
            <p>Name</p>
        </div>

        {% if clients %}
            {% for client in clients %}
            <div class="flex justify-between items-center py-4 px-6 hover:bg-teal-50 transition duration-300">
                <p class="w-full text-gray-800">
                    <a href="{% url 'client_detail' client.id %}" class="hover:text-teal-600 transition duration-300">{{ client.Name }}</a>
                </p>
            </div>
            {% endfor %}
        {% else %}
            <div class="py-6 px-8 text-center text-gray-600">
                <h2 class="text-xl font-semibold">No Clients Available</h2>
                <p class="mt-2">It looks like there are no clients to display. Start by adding a new client!</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
