{% extends 'core/base.html' %}

{% block title %}Leads{% endblock %}


{% block content %}
<div class="py-4 px-6">
    <h1 class="mb-4 text-xl font-semibold text-gray-800  transform">Leads</h1>

    <a href="{% url 'add_lead' %}" class="mb-4 inline-block text-white py-3 px-6 bg-teal-600 rounded-xl">CreateLead</a>
    <div class="flex justify-between">
        <p class="py-4 px-2 bg-gray-300 font-semibold w-full">Name</p>
        <p class="py-4 px-2 bg-gray-300 font-semibold w-full">Priority</p>
        <p class="py-4 px-2 bg-gray-300 font-semibold w-full">Status</p>
    </div>

    {% if object_list %}
        {%  for lead in object_list  %}
        <div class="flex justify-between" >
            <p class="py-4 px-2 w-full {% cycle 'bg-gray-100' '' %}">
                <a href="{% url 'lead_detail' lead.id %}">{{ lead.Name }}</a>
            </p> 
            <p class="py-4 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ lead.get_priority_display }}</p>
            <p class="py-4 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ lead.status }}</p>
        </div>
        {% endfor %}  
    {% else %} 
        <h2>There is no lead</h2>   
    {% endif %}
 

</div>
{% endblock %}